[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
matplotlib = "*"
opencv-python = "*"
pydub = "*"
moviepy = "*"
spacy = "*"
textblob = "*"
ffmpeg-python = "*"
tweepy = {editable = true, ref = "video-upload", git = "https://github.com/tweepy/tweepy.git"}
redis = "*"

[dev-packages]

[requires]
python_version = "3.9"
