[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
matplotlib = "*"
opencv-python = "*"
pydub = "*"
moviepy = "*"
ffmpeg = "*"
spacy = "*"
textblob = "*"
tweepy = "*"

[dev-packages]

[requires]
python_version = "3.9"
